hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1rem;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .rodape__titulo {
        margin-top: 1rem;
       font-size: 1.5rem;
    }

    .lista-rodape__titulo {
        font-size: 0.8rem ;
        color: var(--cinza);
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .lista-rodape {
        display: block;
        margin-top: 1rem;
    }


    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 1rem;
    }

    .lista-rodape__link {
        font-size: 0.8rem;
        /* padding: 1rem; */
        color: var(--cinza-escuro);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {

    .rodape {
        padding: 3rem 0;
    }
    .lista-rodape {
        padding-left: 1rem;
        border-left: 1px solid var(--cinza);
    }
}