.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1rem 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2rem 0.5rem;
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 1.5rem;
    }

    .topicos__item{
        margin: 2rem 1rem;
    }

    .topicos__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3rem 30vw;
    }
}